.listItems ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repear(3, 1fr);
    grid-gap: 0.5em;
}

.listItems li {
    display: grid;
    grid-template-rows: auto 1fr;
  }

.listItems img{
    width: 35em;
    height: auto;
    justify-self: center;
    align-self: center;
}

.item-info {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
  }
  
  .item-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .item-price {
    font-size: 16px;
    color: black;
  }
