.listItems ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-wrap: wrap; /* allow items to wrap to the next line */
    justify-content: flex-start; /* distribute items evenly along the main axis */
    align-items: center; /* align items vertically */
  }
  
  .listItems li {
    display: flex; 
    flex-direction: column; /* stack items vertically */
    align-items: center; /* align items horizontally */
    justify-content: center; /* align items vertically */
    width: 250px; /* set a fixed width for each item */
    margin-right: 15px;
    margin-bottom: 20px;
  }

  
  .listItems img {
    width: 100%;
    height: auto;
  }