h1 {
    display: grid;
    justify-items: center;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to right, #f00, #fc0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }