.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: 1vw 2vw;
  border-radius: 2vw;
  /* max-width: 40em; */
  width: 50%;
}

.searchBar input{
  font-size: 1.3vw;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 1vw;
  flex: 1;
}