.filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding: 2vw; */
    max-width: 100%;
    margin-top: 3vw
  }
  
  .filterBarDemographic {
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
  }
  
  .filterBarItem {
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
  }
  
  select {
    font-size: 1vw;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 1vw;
    background-color: #f5f5f5;
    color: #555;
    outline: none;

  
  }
  
  select:hover {
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
  }