.filter{
    display: flex;
    justify-content: flex-end;
}

.filterBarDemographic{
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

.filterBarItem{
    display: flex;
    justify-content: flex-end;
}